/* saved colors */
$yellow: hsl(54, 87%, 84%);
$darkBlue: hsl(210, 58%, 21%);
$turquoise: hsl(190, 48%, 39%);
$rose: hsl(0, 45%, 63%);
$peach: hsl(14, 93%, 80%);
$lightBlue: hsl(181, 31%, 79%);
$periwinkle: #6464c8;
$limeGreen: #c7ea46;
$lightGrey: #e8e8e8;
$mediumGrey: #a9a9a9;

/* temporary theme */
$background: $lightGrey;
$link: $mediumGrey;
$linkHover: $rose;

/* css classes */

.centerInDiv{
  justify-content: center;
}

body {
  background-color: $background;
  height: 100vh;
  width: 100vw;
  font-family: 'Chakra Petch', sans-serif;
  // font-size: 12px;
}

a {
  color: $link;
}

a:hover {
  color: $linkHover;
}

a > svg {
  width: 10px;
  height: 10px;
  pointer-events: none;
}

/* CSS className stylings */
.tile {
  background-color: #4a4a4a;
}

/* CSS Transition group animations */
.componentFadeIn-appear {
  opacity: 0.01;
}

.componentFadeIn-appear.componentFadeIn-appear-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

////////////chatroom stuff
.chatForm {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.messages li {
  padding: 5px 10px;
}
.messages li:nth-child(odd) {
  background: #eee;
}
/* saved colors */
$yellow: hsl(54, 87%, 84%);
$darkBlue: hsl(210, 58%, 21%);
$turquoise: hsl(190, 48%, 39%);
$rose: hsl(0, 45%, 63%);
$peach: hsl(14, 93%, 80%);
$lightBlue: hsl(181, 31%, 79%);
$periwinkle: #6464c8;
$limeGreen: #c7ea46;
$lightGrey: #e8e8e8;
$mediumGrey: #a9a9a9;

/* temporary theme */
$background: $lightGrey;
$link: $mediumGrey;
$linkHover: $rose;

/* css classes */

body {
  background-color: $background;
  height: 100vh;
  width: 100vw;
}

a {
  color: $link;
}

a:hover {
  color: $linkHover;
}

a > svg {
  width: 10px;
  height: 10px;
  pointer-events: none;
}

/* CSS className stylings */
.tile {
  background-color: #4a4a4a;
}

/* CSS Transition group animations */
.componentFadeIn-appear {
  opacity: 0.01;
}

.componentFadeIn-appear.componentFadeIn-appear-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
